* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3f2fd;
    font-family: 'Quicksand', sans-serif;
    color: #0d47a1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #90caf9;
    padding: 40px 15px;
    border-bottom: 5px solid #42a5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    padding: 40px 20px;
}

.tarjeta {
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #bbdefb;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#personaje-campeon {
    background-color: #fff9c4;
    border-color: #fbc02d;
}

.imag {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #90caf9;
    margin-bottom: 15px;
}

.descripcion {
    font-size: 14px;
    color: #546e7a;
    padding-top: 10px;
    margin-top: auto;
}


.mas-amigos {
    text-align: center;
    margin: 0 20px 40px 20px;
    padding: 30px;
    background-color: #6989fc; 
    border-radius: 15px;
}

.mas-amigos h2 {
    color: #4a148c;
    margin-bottom: 25px;
}

.contenedor-amigos {
    display: flex;
    flex-direction: row; 
    
    justify-content: space-around; 
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
}

.amigo {
    background-color: white;
    border: 2px dashed #6d79ff;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    
    /* Flexbox interno para alinear imagen y texto */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.amigo:hover {
    transform: scale(1.05);
}

.imag-amigo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4428e1;
    margin-bottom: 15px;
}

.amigo h4 {
    color: #456783;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.amigo p {
    font-size: 14px;
    color: #546e7a;
}

/* --- SECCIÓN HOVER --- */
.hover-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px 0;
    gap: 15px;
}

.boton {
    background-color: #1e88e5;
    color: white;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #0d47a1;
    transform: scale(1.1);
}

footer {
    margin-top: auto;
    padding: 25px;
    background-color: #bbdefb;
    font-size: 13px;
    text-align: center;
}